# Data Types

## Numbers

In [2]:
integer_num = 42
float_num = 3.14
complex_num = 1 + 2j

print(f"Integer: {integer_num}, Type: {type(integer_num)}")
print(f"Float: {float_num}, Type: {type(float_num)}")
print(f"Complex: {complex_num}, Type: {type(complex_num)}")

Integer: 42, Type: <class 'int'>
Float: 3.14, Type: <class 'float'>
Complex: (1+2j), Type: <class 'complex'>

# String

In [3]:
text = "Hello, Python!"
print(f"String: {text}, Type: {type(text)}")
print(f"String length: {len(text)}")
print(f"Uppercase: {text.upper()}")
print(f"Lowercase: {text.lower()}")

# Boolean
print("\n3. Boolean:")
is_true = True
is_false = False
print(f"True value: {is_true}, Type: {type(is_true)}")
print(f"False value: {is_false}, Type: {type(is_false)}")

# List (Mutable sequence)
print("\n4. List:")
my_list = [1, 2, "three", 4.0, True]
print(f"List: {my_list}, Type: {type(my_list)}")
print(f"List length: {len(my_list)}")
print(f"First item: {my_list[0]}")
my_list.append("new item")
print(f"After append: {my_list}")

# Tuple (Immutable sequence)
print("\n5. Tuple:")
my_tuple = (1, 2, "three", 4.0, True)
print(f"Tuple: {my_tuple}, Type: {type(my_tuple)}")
print(f"Tuple length: {len(my_tuple)}")
print(f"First item: {my_tuple[0]}")

# Dictionary (Key-value pairs)
print("\n6. Dictionary:")
my_dict = {
    "name": "Python",
    "version": 3.9,
    "is_fun": True
}
print(f"Dictionary: {my_dict}, Type: {type(my_dict)}")
print(f"Keys: {my_dict.keys()}")
print(f"Values: {my_dict.values()}")
print(f"Access by key 'name': {my_dict['name']}")

# Set (Unique elements)
print("\n7. Set:")
my_set = {1, 2, 2, 3, 3, 4}  # Duplicates will be removed
print(f"Set: {my_set}, Type: {type(my_set)}")
print(f"Set length: {len(my_set)}")
my_set.add(5)
print(f"After adding 5: {my_set}")

=== Data Types in Python ===

1. Numbers:
Integer: 42, Type: <class 'int'>
Float: 3.14, Type: <class 'float'>
Complex: (1+2j), Type: <class 'complex'>

2. String:
String: Hello, Python!, Type: <class 'str'>
String length: 14
Uppercase: HELLO, PYTHON!
Lowercase: hello, python!

3. Boolean:
True value: True, Type: <class 'bool'>
False value: False, Type: <class 'bool'>

4. List:
List: [1, 2, 'three', 4.0, True], Type: <class 'list'>
List length: 5
First item: 1
After append: [1, 2, 'three', 4.0, True, 'new item']

5. Tuple:
Tuple: (1, 2, 'three', 4.0, True), Type: <class 'tuple'>
Tuple length: 5
First item: 1

6. Dictionary:
Dictionary: {'name': 'Python', 'version': 3.9, 'is_fun': True}, Type: <class 'dict'>
Keys: dict_keys(['name', 'version', 'is_fun'])
Values: dict_values(['Python', 3.9, True])
Access by key 'name': Python

7. Set:
Set: {1, 2, 3, 4}, Type: <class 'set'>
Set length: 4
After adding 5: {1, 2, 3, 4, 5}

In [4]:
# Operators in Python

# Arithmetic Operators
print("=== Arithmetic Operators ===")
a = 10
b = 3
print(f"a = {a}, b = {b}")
print(f"Addition: {a + b}")        # บวก
print(f"Subtraction: {a - b}")     # ลบ  
print(f"Multiplication: {a * b}")  # คูณ
print(f"Division: {a / b}")        # หาร
print(f"Floor Division: {a // b}") # หารปัดเศษลง
print(f"Modulus: {a % b}")         # หารเอาเศษ
print(f"Exponent: {a ** b}")       # ยกกำลัง

# Comparison Operators 
print("\n=== Comparison Operators ===")
x = 5
y = 3
print(f"x = {x}, y = {y}")
print(f"Equal to: {x == y}")           # เท่ากับ
print(f"Not equal to: {x != y}")       # ไม่เท่ากับ
print(f"Greater than: {x > y}")        # มากกว่า
print(f"Less than: {x < y}")           # น้อยกว่า
print(f"Greater or equal: {x >= y}")   # มากกว่าหรือเท่ากับ
print(f"Less or equal: {x <= y}")      # น้อยกว่าหรือเท่ากับ

# Logical Operators
print("\n=== Logical Operators ===")
p = True
q = False
print(f"p = {p}, q = {q}")
print(f"AND: {p and q}")   # และ
print(f"OR: {p or q}")     # หรือ
print(f"NOT p: {not p}")   # ไม่

# Assignment Operators
print("\n=== Assignment Operators ===")
n = 5
print(f"Initial n = {n}")
n += 3  # n = n + 3
print(f"After n += 3: {n}")
n -= 2  # n = n - 2
print(f"After n -= 2: {n}")
n *= 4  # n = n * 4
print(f"After n *= 4: {n}")

=== Arithmetic Operators ===
a = 10, b = 3
Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponent: 1000

=== Comparison Operators ===
x = 5, y = 3
Equal to: False
Not equal to: True
Greater than: True
Less than: False
Greater or equal: True
Less or equal: False

=== Logical Operators ===
p = True, q = False
AND: False
OR: True
NOT p: False

=== Assignment Operators ===
Initial n = 5
After n += 3: 8
After n -= 2: 6
After n *= 4: 24

In [5]:
# Control Flow: if, elif, else
print("\n=== Control Flow: if, elif, else ===")

# ตัวอย่างที่ 1: if อย่างเดียว
age = 18
print(f"อายุ = {age}")
if age >= 18:
    print("คุณสามารถเข้าชมภาพยนตร์เรท 18+ ได้")

# ตัวอย่างที่ 2: if-else
score = 75
print(f"\nคะแนน = {score}")
if score >= 50:
    print("สอบผ่าน")
else:
    print("สอบไม่ผ่าน")

# ตัวอย่างที่ 3: if-elif-else
grade = 85
print(f"\nคะแนน = {grade}")
if grade >= 80:
    print("เกรด A")
elif grade >= 70:
    print("เกรด B")
elif grade >= 60:
    print("เกรด C")
elif grade >= 50:
    print("เกรด D")
else:
    print("เกรด F")

# ตัวอย่างที่ 4: การซ้อน if (Nested if)
money = 100
has_coupon = True
print(f"\nเงิน = {money}, มีคูปอง = {has_coupon}")
if money >= 50:
    if has_coupon:
        print("สามารถซื้อสินค้าได้และใช้คูปองส่วนลด")
    else:
        print("สามารถซื้อสินค้าได้แต่ไม่มีส่วนลด")
else:
    print("เงินไม่พอซื้อสินค้า")

=== Control Flow: if, elif, else ===
อายุ = 18
คุณสามารถเข้าชมภาพยนตร์เรท 18+ ได้

คะแนน = 75
สอบผ่าน

คะแนน = 85
เกรด A

เงิน = 100, มีคูปอง = True
สามารถซื้อสินค้าได้และใช้คูปองส่วนลด

## Generate customer data with faker

In [19]:
import faker
import pandas as pd

# สร้าง Faker object สำหรับสร้างข้อมูลปลอม
fake = faker.Faker()

# สร้างข้อมูลลูกค้า
customers = []
for _ in range(5):  # สร้าง 5 รายการ
    customer = {
        'customer_id': fake.uuid4(),
        'name': fake.name(),
        'email': fake.email(), 
        'phone': fake.phone_number(),
        'address': fake.address(),
        'segment': fake.random_element(['Retail', 'Wholesale', 'Online', 'In-Store']),
        'join_date': fake.date_between(start_date='-2y', end_date='today'),
        'loyalty_points': fake.random_int(min=0, max=1000)
    }
    customers.append(customer)

# แสดงข้อมูลลูกค้าในรูปแบบ DataFrame
df = pd.DataFrame(customers)
df

,customer_id,name,email,phone,address,segment,join_date,loyalty_points
0,7db4352a-87ea-4aea-a7b7-dc0d51b7a90a,Mark Davis,ashley63@example.com,(876)257-0135x418,"411 Teresa Freeway\nMoralesstad, WA 98920",In-Store,2023-02-08,720
1,3b22557b-b61c-440d-b2a8-f5d11f1b40ae,Erin Ross,solisrandy@example.net,727.211.6518x3786,"1441 Robert Mall\nShermanborough, NV 79945",Online,2023-02-26,758
2,ef0044e6-1b79-4442-ba95-dae1ccb1550a,Julia Love,claudia36@example.net,+1-537-353-7457x56500,"3858 Catherine Brook\nCharlesfort, TN 37863",In-Store,2023-10-30,113
3,907bfd42-18e4-41d1-a936-316c49fac3f6,Phillip Delgado,kevin16@example.com,+1-649-427-1848x0953,Unit 2404 Box 4673\nDPO AA 52870,Retail,2023-12-11,369
4,b1f93ddb-21ea-4e02-9dec-77c8e37866e4,Jeffrey Thompson,lopezstephanie@example.org,824.687.1124x641,"621 Cheryl Knoll Apt. 121\nChadborough, SC 43772",Wholesale,2024-11-03,210